.svg-icon {
  width: 2em;
  height: 2em;
  margin: 1em;
  fill: darkgray;
  position: relative;
}

::ng-deep svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* style */
div {
  display: inline-block;
}
